body {
  color: $text-color;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.125rem;
}

h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1rem;
}