body {
  color: $text-color;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 54px;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 26px;
}

h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1rem;
}
