body {
  color: $text-color;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 26px;
}

h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1rem;
}

ul {
  padding-left: 20px;
  list-style: none;
}
li {
  margin-bottom: 10px;
}
