.guidelines {
  margin: 32px 0;
  margin: auto;
  text-align: center;
}

ul { padding-left:20px; list-style:none; }
li { margin-bottom:10px; }

.new-guidelines li:before {
  content: '✔ ';
  margin-left: -20px;
}
