.card {
  width: 343px;
  height: 113px;
  margin-bottom: 27px;
}

.card-title {
  color: white;
  background-color: #2E5FE8;
  height: 73px;
    h2 {
      padding: 9px 0 0 15.64px;
    }
    a {
      text-decoration: none;
      font-family: 'Archivo Black', sans-serif;
      font-size: 18px;
      color: white;
    }
}

.tags {
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
  position: relative;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 24px;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 18px;
}

.centered-title {
  text-align: center;
}

#argument_bubble {
  position: absolute;
  left: 4px;
  bottom: 11px;
}

hr {
  width: 100vw;
  border: 1px solid black rgba(0, 0, 0, 0.4);
}

.card-category {
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
  }
}

.tagline {
  margin: 0px;
}

.search-bar {
  width: 300px;
  margin: auto;
}

#home {
  margin-top: 80px;
}
