.home {

  &-intro {
    margin-bottom: 75px;
    h1 {
      margin: 50px 0 32px 0;
    }
  }
}

.card {
  // width: 343px;
  // height: 400px;
  // margin-bottom: 27px;
border-radius:5px;
}

.card-title {
  color: white;
  background-color: #2E5FE8;
  line-height: 2rem;
  height: 80px;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
    h2 {
      padding: 10px;
    }
    a {
      text-decoration: none;
      font-family: 'Archivo', sans-serif;
      font-size: 1rem;
      color: white;
    }
  border-top-right-radius:5px;
  border-top-left-radius:5px
}

.tag-section {
  background-color: white;
  height: 50px;
  padding: 0 14px;
  margin:2px;
}

.arg-bubble{
  height:32px;
  width: 32px;
  background-image: asset-url('argument-bubble.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  text-align:center;
}

.arg-bubble p{
  margin: 3px 0 0 0;
}


.card-category {
  font-family: $body-font;
  font-size: 24px;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
  }
}
