.card {
  // width: 343px;
  // height: 400px;
  // margin-bottom: 27px;
border-radius:5px;
}

.card-title {
  color: white;
  background-color: #2E5FE8;
  line-height: 2rem;
  height: 75px;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
    h2 {
      padding: 10px;
    }
    a {
      text-decoration: none;
      font-family: 'Archivo Black', sans-serif;
      font-size: 18px;
      color: white;
    }
  border-top-right-radius:5px;
  border-top-left-radius:5px
}

.tag-section {
  background-color: white;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
  margin:2px;
}

.arg-bubble{
  width:70px;
  height:40px;
  background-image: url('/assets/argument_bubble.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  text-align:center;
}

.arg-bubble p{
  margin-top: 0.5rem;
}


// #argument_bubble {
//   position: absolute;
//   left: 4px;
//   bottom: 11px;
// }

// hr {
//   width: 100vw;
//   border: 1px solid black rgba(0, 0, 0, 0.4);
// }

.card-category {
  font-family: $body-font;
  font-size: 24px;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
  }
}

// .tagline {
//   margin: 0px;
// }

// .search-bar {
//   width: 300px;
//   margin: auto;
// }

// #home {
//   margin-top: 80px;
// }
