<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-auto footer-links mt-3">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        &nbsp;&nbsp;
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="col mt-4">
       <h6 class="text-right">Always have the last word.</h6>
      </div>
    </div>
    <p class="pt-2 pb-3 m-0 footer-copyright"> © CounterArgument 2020</p>
  </div>
</div>
