<div class="footer">

<div class="row">
  <div class="col-2 d-flex justify-content-start footer-links mt-3">
    <a href="#"><i class="fab fa-facebook"></i></a>
    &nbsp;&nbsp;
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="col-10 d-flex justify-content-end footer-words mt-4">
   <h6>Always have the last word.</h6>
  </div>

  <div class="row footer-copyright mt-2">
    @ CounterArgument 2020
  </div>

</div>



</div>
