<div class="footer">

<div class="row justify-content-between">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

  <div class="row footer-copyright">
    @ CounterArgument 2020
  </div>

</div>

  <div class="footer-words">
    Always have the last word.
  </div>

</div>
