
<header class="container">

  <div class="ca-logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt:"Counterargument logo" %>
    <% end %>
  </div>

  <div class="header-action-bar">
    <div class="search-bar">
      <%= render '/shared/search-header' %>
    </div>

    <div>
      <%= render '/shared/sidenav' %>
    </div>
  </div>


</header>

