
<header class="container">

  <div class="ca-logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt:"Counterargument logo" %>
    <% end %>
  </div>

  <div class="row align-items-center justify-content-end">
    <div class="col">
      <%= render '/shared/search-header' %>
    </div>
    <div class="col-auto">
      <%= render '/shared/sidenav' %>
    </div>
  </div>

</header>

