<div class="search-box d-flex">

    <%= simple_form_for :search, url: search_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <input type="text" name="search" id="search" class="search-txt" placeholder="Search..."/>

      <%= button_tag type: 'submit', class: "search-btn cursor-pointer" do %>
        <i class="fas fa-search" title="Search"></i>
      <% end %>

    <% end %>
</div>
