<div id="sideBarNav" class="sidenav">
  <a href="#">Login</a>
  <a href="#">Sign up</a>
  <a href="#">Argument</a>
  <a href="#">Sign out</a>
  <div class="icon">
    <i class="fas fa-times"></i>
  </div>
</div>
  <div class="icon">
    <i class="fas fa-bars"></i>
  </div>
