
<div class="container">
  <h1>Results list page</h1>
    <% if @arguments %>
      <ul>
        <% @arguments.each do |argument| %>
          <li><%= argument.content %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No results for "<%= params[:search] %>".</p>
      <%= link_to  "Add an argument", new_argument_path %>
    <% end %>
</div>
