.filters {
  &-link {
    font-family: $body-font;
    color: $text-color;
    font-size: $font-size-base;

    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }

  ul {
    padding-left: 0;
     ul {
      padding-top: 10px;
    }
  }
}