.form-group{
  margin-bottom: 15px;
  padding: 0.25rem;
  max-width: 500px;
}

textarea.form-control {
  border-radius: 15px;
}

.form-control{
  border: 2px solid $brandblue;
  border-radius: 25px;
  padding: 20px;
}

