.navbar-ca {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}

.navbar-ca .navbar-collapse {
  flex-grow: 0;
}

.navbar-ca .navbar-brand img {
  width:120px;
}
