.notification {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #C4C4C4;
}

.notification:last-child {
  border-bottom: none;
}
.notification .notification-content {
  flex-grow: 1;
  padding: 0 16px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  a {
    color: $text-color;
  }
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

#notifications-counter {
  background-color: $secondary;
  height: 24px;
  min-width: 24px;
  text-align: center;
  position: absolute;
  left: -5px;
  top: -5px;
  font-family: $btn-font;
}
