// Used for both the "fake" search icon and the form submit button
@mixin search-icons {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    color: #fff;
    background: $primary;
    border-radius: 50%;
    cursor: pointer;
}

.search {
    &-form {
        padding-right: 15px;
        
        form {
            position: relative;
        }
    }

    &-input{
        height: 40px;
        font-size: 1em;
        transform: scaleX(0);
        transform-origin: right;
        outline: none;
        border: none;
        border-radius: 25px 0 0 25px;
        transition: transform 0.5s ease;
        margin-right: 20px;
        padding: 0 15px
    }


    &-icon{
        @include search-icons;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    
    &-button{
        @include search-icons;
        visibility:hidden;
        border: none;
    }
}

// Applied to button when form is opened
.visible {
    visibility:visible;
}

// Applied to input (.search-input) when form is opened
.active{
    transform: scaleX(1);
    opacity:0.8;
    visibility:visible;
    cursor:auto;
}

// Applied to icon when form is opened
.remove{
    display:none;
}

// #searchSuggestions {
    //   position: absolute;
// }     
        