.search-container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 0px;

.search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: $brandblue;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    // box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 20px;
      right: 0;
      bottom: 0;
      left: 11px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(55deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -3px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: $btn-font;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: white;
    color: $brandblue;
    padding: 0 80px 0 20px;
    border-radius: 20px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 250px;
      left:-250px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      // right: 0px;
      background: $brandyellow;
      opacity: 0.8;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: $brandblue;
      opacity: 0.5;
      // font-weight: bolder;
    }
  }
}
