.avatar-btn {
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 80%;
  max-width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  // switch width to 0 VW on open
  right: -80%;
  background-color: #fff;
  overflow-x: hidden;
  padding: 60px 20px;
  transition: 0.8s ease;
  text-align: left;
  z-index: 3;

  > .sidenav-element:hover{
    background: $brandlightblue;
  }

  > a, > ul {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 22px;
    color: $text-color;
    font-family: $headers-font;
    display: block;
    transition: 0.4s;
    border-bottom: 1px solid #f1f1f1;
  }

  .fa-times{
    color: $primary;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.filters {
  &-link {
    font-family: $body-font;
    color: $text-color;
    font-size: $font-size-base;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  ul {
    padding-left: 0;
     ul {
      padding-top: 10px;
    }
  }
}
